<ion-content fullscreen class="ion-padding ionContent--featured">
  <ion-img class="app-logo" src="../../assets/icon/logo.png"></ion-img>
  <div class="ion-padding">
    <form #form="ngForm" (ngSubmit)="login(form)" autocomplete="off">
      <ion-item lines="none">
        <ion-input
          minlenth="3"
          name="username"
          ngModel
          placeholder="Username"
          required
          type="text"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          name="password"
          ngModel
          placeholder="Password"
          required
          type="password"
        ></ion-input>
      </ion-item>
      <ion-button
        [disabled]="form.invalid"
        expand="block"
        id="call-to-action-button"
        type="submit"
      >
        Sign In
      </ion-button>
    </form>
  </div>
</ion-content>