ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-content {
    --background: linear-gradient(197deg, rgb(255, 137, 137)  0%,#f74747 13.5%, #e32222 33.33%, #a22323 100%);
    --ion-background-color: transparent;
    --ion-text-color: #fff;

    ion-img.app-logo {
        max-width: 150px;
        max-height: 150px;
        height: auto;
        width: auto;
        margin: 0 auto;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    ion-item {
        --border-color: #fff;
        --border-radius: 30px;
        --border-width: 1px;
        --ion-background: transparent;
        --padding-end: 30px;
        --padding-start: 30px;
        margin-top: 24px;

    ion-input {
        --ion-background: transparent;
        --background: transparent;
        font-weight: 500;
    }

    ion-textarea {
        --background: transparent;
        --ion-background: transparent;
        font-weight: 500;
        line-height: 2;
    }

    ion-datetime {
        --background: transparent;
        --ion-background: transparent;
        font-weight: 500;
        color: #f4f5f8;
    }
}

    ion-button.centered-link,
    ion-button#call-to-action-button {
        --background: rgba(255,255,255,0.5);
        --background-hover: rgba(255,255,255,0.4);
        --border-radius: 30px;
        --transition: all 0.3s ease;
        --box-shadow: none;
        min-height: 46px;
    }

    ion-button.centered-link {
        --background: transparent;
        --background-hover: transparent;
        color: #fff;
        display: inline-block;
        font-weight: 500;
        text-align: center;
        width: 100%;
        text-decoration: underline;
        text-transform: capitalize;
    }

    a.centered-link {
        color: #fff;
        display: inline-block;
        font-weight: 500;
        margin-top: 16px;
        text-align: center;
        text-decoration: underline;
    }

    #call-to-action-button {
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .errorMessage {
        color: #f7cc46;
        font-weight: 500;

    p {
        margin-left: 15px;
        margin-right: 15px;
    }
}
}

    ion-input {
        --ion-background: transparent;
        --background: transparent;
    }

    input:-internal-autofill-selected {
        background-color: transparent !important;
        animation-name: autofill;
        animation-fill-mode: both;
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

    background-color: transparent !important;
    animation-name: autofill;
    animation-fill-mode: both;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both; 
}