// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // override variables
  --ion-color-primary: #47b2f7;
  --ion-color-dark: #343131;
  --ion-color-medium: #868686;
  --ion-color-light: #e5e5ea;
  --ion-color-light-rgb: 229, 229, 234;

}

.ios {
	--ion-font-family: -apple-system, 'BlinkMacSystemFont', 'Helvetica Neue', sans-serif;
	font-family: var(--ion-font-family) !important;
}

.md {
	--ion-font-family: 'Roboto', 'Helvetica Neue', sans-serif;
	font-family: var(--ion-font-family) !important;
}

ion-content.ionContent--featured {
  --background: linear-gradient(197deg, rgb(137, 218, 255) 0%, #47B2F7 13.5%, #2298E3 33.33%, #236FA2 100%);

  --ion-background-color: transparent;
  --ion-text-color: #fff;
  justify-content: center;
  align-items: center;


  ion-img.appLogo {
    // height: 150px;
    // width: 150px;
    margin: auto;
    display: block;
    max-width: 150px;
    max-height: 150px;
    height: auto;
    width: auto;
  }

  ion-item {
    --border-color: #fff;
    --border-width: 1px;
    --border-radius: 30px;
    --padding-start: 30px;
    --padding-end: 30px;
    margin-bottom: 20px;

    &.ion-invalid.ion-touched {
      // --color: var(--ion-color-danger);
      --color: #f7cc46;
    }

    ion-icon {
      color: #fff;
      font-size: 16px;
    }
  }

  ion-item + .formValidation__error {
    margin-top: -20px;
  }

  .errorMessage {
    color: #f7cc46;
    font-weight: 500;

    p {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .formValidation__error {
    // color: var(--ion-color-danger);
    color: #f7cc46;
    padding: 10px 30px;

    &.formValidation__error--negative-top-offset {
      margin-top: -16px;
    }
  }

  ion-input {
    --ion-background: transparent;
    --background: transparent;
  }

  ion-textarea {
    line-height: 2;
    --padding-top: 16px;
    --padding-bottom: 16px;
  }

  ion-datetime {
    --placeholder-color: rgba(255, 255, 255, 0.6);
    --padding-start: 0;
    --padding-end: 0;
  }

  @keyframes autofill {
    to {
      color: #fff;
      background: transparent;
    }
  }

  @-webkit-keyframes autofill {
    to {
      color: #fff;
      background: transparent;
    }
  }

  input:-webkit-autofill,
  input:-internal-autofill-previewed,
  input:-internal-autofill-selected {
      animation-name: autofill;
      animation-fill-mode: both;
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
  }

  ion-button {
    --background: rgba(255, 255, 255, 0.5);
    --background-hover: rgba(255, 255, 255, 0.4);
    --border-radius: 30px;
    --transition: all 0.3s ease;
    --box-shadow: none;
    text-transform: none;

    font-family: var(--ion-font-family);
    overflow: hidden;

    &.button-clear {
      --background: transparent;
      --color: #fff;
    }

    &[fill="outline"] {
      --background: transparent;
      --border-color: #fff;
      --color: #fff;
      --border-width: 1px;

      &:hover {
        --border-color: transparent;
      }
    }
  }

  a {
    color: rgb(192, 224, 252);
  }

  ion-row {
    margin-left: -20px;
    margin-right: -20px;
  }

  ion-col {
    // --ion-grid-column-padding: 20px;
    padding-left: 20px;
    padding-right: 20px;

    ion-item {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

ion-menu.appSideMenu {
  --background: #e0e0e0;

  ion-header:after {
    --background-image: none !important;
    background-image: none !important;
  }


  ion-img.userAvatar {
    max-height: 72px;
    max-width: 72px;
    width: auto;
    height: auto;
    margin: auto;
  }

  ion-img.userAvatar + .currentUserName {
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: auto;
  }

  ion-title {
    --color: #000;
  }

  .currentUserName {
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: auto;
  }

  .currentUserPhone {
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: auto;
  }

  ion-content,
  ion-header,
  ion-toolbar {
    --background: transparent;
  }

  ion-list,
  ion-item {
    --ion-background-color: transparent;
  }


  .userInfo {
    margin: 40px 0;
  }

  ion-item {
    text-align: center;
    margin-bottom: 0;
    font-weight: 700;
    --background: transparent;

    &.menu-item--active {
      --background: linear-gradient(180deg, #2298E3 0%, #47B2F7 100%);
      --background-hover: linear-gradient(180deg, #2298E3 0%, #47B2F7 100%);
      --background-activated: linear-gradient(180deg, #2298E3 0%, #47B2F7 100%);
      --color: #fff;

    }
  }
}

.mainRouterOutlet {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.65);
}

.userList {
  ion-item-sliding ion-item-option {
    --background: linear-gradient(180deg, #47B2F7 0%, #43a6e6 30%, #3e98d3 60%, #3682b5 100%);
  }
}

.userListItem {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  --padding-top: 11px;
  --padding-bottom: 11px;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;
  min-height: 70px;
  box-sizing: border-box;

  ion-avatar {
    margin-top: auto;
    margin-bottom: auto;
    min-height: 48px;
    min-width: 48px;
    display: inline-block;
    line-height: 48px;

    img {
      max-height: 48px;
      max-width: 48px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.searchbar-input-container {
  flex: 1;
}

.searchbar-navigation {
  display: flex;
  align-items: center;

  .counter {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.chatMessageInputSection {
  display: flex;
  background: var(--ion-color-light);
  padding: 5px;

  & > *:nth-child(1) {
    margin-right: 15px;
  }

  & > *:nth-child(2) {
    width: 100%;
  }

  & > *:nth-child(3) {
    margin-left: 5px;
  }

  ion-button {
    display: block;
  }
}

.chatMessageInput {
  background: #fff;
  width: 100%;
  resize: none;
  border-style: none;
  border-radius: 30px;
  padding: 8px;
  display: block;
  outline: none;
}

.chatMessageAttachment {
  display: none;
}

.chatMessageAddAttachmentButton {
  margin: auto;
  height: 34px;
  width: 34px;
  line-height: 34px;
  --ion-padding: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;

  ion-icon {
    color: var(--ion-color-medium);
  }
}

.chatMessageSendButton {
  color: #fff;
  background-color: #c1c1c1;
  border-radius: 3px;
  line-height: 34px;
  padding: 0;
  width: 52px;

  ion-icon {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
  }
}

.chatMessages {
  .chatMessage mark {
    background-color: grey;
  }

  .chatMessage.current mark {
    background-color: yellow;
  }

  .chatMessage {
      padding: 10px 20px 10px 20px;
      min-width: 220px;
      box-sizing: border-box;
      background: linear-gradient(0deg, #b8b8b9 0, #c7c7c9 30px, #e5e5ea 100%);
      float: left;
      clear: both;
      border-radius: 20px;
      font-size: 16px;
      line-height: 1;
      position: relative;

      @media (max-width: 820px) {
        max-width: 80%;
      }
  
      @media (min-width: 820px) {
        max-width: 30rem;
      }

      .chatMessage__author {
          color: #9f3812;
          font-size: 15px;
          line-height: 18px;
          font-weight: bold;
      }

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 100%;
      margin-right: -18px;
      bottom: 0;
      width: 30px;
      height: 30px;
      background-size: contain;
      background-image: url("/assets/img/chatMessage__tail--grey.png");
    }

    &.message-thisUser {
      float: right;
      background: linear-gradient(0deg, #0184da 0, #2299E7 30px, #46b1f7 100%);
      color: #fff;

      &:after {
        right: 0;
        margin-right: -12px;
        background-image: url("/assets/img/chatMessage__tail--blue.png");
      }
    }

    .chatMessage__meta {
        float: right;
        clear: both;
        color: #343131;
        font-size: 13px;
        line-height: 16px;
    }
  }

  .chatMessage + .chatMessage {
    margin-top: 30px;
  }

  .chatMessage__text {
    margin: auto;

    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      margin-block-start: 0.5rem;
      margin-block-end: 0.5rem;
      font-weight: 300;
      letter-spacing: .3px;
    }
  }

  .chatMessage__content {
    margin-top: 5px;
  }
}

.chatRoom__notification {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 18px 30px;
  color: #fff;
  background-color: #39302A;
}

.chatRoom__selectedMessageControls {
  background-color: #39302A;
}

.taskItem {
  position: relative;
  --background: var(--ion-color-light);
  --inner-padding-end: 0;
  cursor: pointer;
  border-bottom: 2px solid #fff;

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: var(--ion-color-primary);
    z-index: 1;
  }

  &:hover {
    --background: #e9e9ea;
  }

  & > * {
    margin-left: 10px;
  }

  .taskItem__status {
    padding: 19px 20px;
    color: #fff;
    font-weight: 700;
    min-width: 202px;
    box-sizing: border-box;
    text-align: center;
  }

  .taskItem__status {
    background-color: #c4c4c4;
  }

  .taskItem__status--in_progress {
    background-color: #f7ab45;
  }

  .taskItem__status--waiting_for_feedback {
    background-color: #5a9afc;
  }

  .taskItem__status--done {
    background-color: green;
  }
}

// .chatMessageSendButtonIcon {
//     font-size: 34px !important;
//     --ion-font-size: 34px !important;
//     --font-size: 34px !important;
// }

.chatRoomHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.assistantsBar__clientInfo {
  --background: transparent;
}

.assistantsBar.assistantsBar--avatarsMode {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.assistantsBar__clientAvatar {
  margin-right: 10px;
}

.assistantBarControls {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--ion-color-light);
  display: flex;
  justify-content: space-around;
  color: var(--ion-color-medium);
  padding: 3px 0;
  transform: translate(0, -100%);
  transition: transform 0.3s ease;

  .assistantBarControls__control {
    margin: 0 5px;
    cursor: pointer;
  }

  .assistantsBarControls__content {
    display: flex;
  }

  &.assistantBarControls--active {
    transform: translate(0, 0);
  }
}

.star-rating-modal {

  div[role="dialog"] {
    width: 320px;
    height: 240px;
    border-radius: 20px;
  }
}

/* profile page styles */

.profilePage__avatarSection {
  background: linear-gradient(180deg, #43abee 0%, #338cc7 33%, #2879ae 66%, #2470a3 100%);
  text-align: center;
}

.profilePage__backButton {
  position: absolute;
  top: 30px;
  left: 30px;
  --color: #fff;
}

.profilePage__avatarSectionContent {
  display: inline-block;
  position: relative;

  img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    object-fit: cover;
  }
}

.profilePage__avatarSection {
  padding: 40px 0;
}

.profilePage__avatarChangeButton,
.userInfo__avatarChangeButton {
  background-color: #5cbdfc;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.profilePage__avatarChangeIcon,
.userInfo__avatarChangeIcon {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.profilePage__avatarSectionInput,
.userInfo__avatarSectionInput {
  opacity: 0;
}

ion-button {
  --border-radius: 40px;
}

/* \profile page styles */

.attachedAssistants__avatars {
  display: flex;
  align-items: center;
}

.attachedAssistants__assistantAvatar {
  position: relative;
  height: 40px;
  width: 40px;
  border: 2px solid #f2f2f2;
  background: #f2f2f2;
  border-radius: 50%;
  z-index: 1;
  order: 1;
  object-fit: cover;

  &.attachedAssistants__assistantAvatar--current {
    z-index: 2;
    order: 2;
  }
}

.attachedAssistants__assistantAvatar:nth-child(2):not(.attachedAssistants__assistantAvatar--current),
.attachedAssistants__assistantAvatar:nth-child(3):not(.attachedAssistants__assistantAvatar--current) {
  order: 3;
}

.attachedAssistants__assistantAvatar--current + .attachedAssistants__assistantAvatar:nth-child(2) {
  order: 1;
}

.attachedAssistants__assistantAvatar.attachedAssistants__assistantAvatar--current:not(:only-child),
.attachedAssistants__assistantAvatar:not(:first-child):not(.attachedAssistants__assistantAvatar--current) {
  margin-left: -10px;
}

.userInfo__titleContainer {
  line-height: 30px;

  & > * {
    vertical-align: middle;
  }
}

.userInfo__avatar {
  height: 30px;
  width: auto;
  margin-right: 20px;
}

.chatMessage__meta {
  display: flex;
  justify-content: space-between;
  width: 100%;
  & > * {
    display: inline-block;
    vertical-align: middle;
  }

  .chatMessage__marks {
    clear: both;
    margin-left: 10px;
    min-width: 26px;

    & > * {
      display: block;
      float: left;
    }

    & > * + * {
      transform: translate(-50%, 0);
    }
  }
}

// .userListItem .user-name {
//   display: flex;
//   justify-content: space-between;
// }
.roomUnreadCount {
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  min-width: 25px;
  text-align: center;
  border-radius: 50%;
  // background-color: #cecece;
  background-color: var(--ion-color-primary);
}

.userRoleLabel {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--ion-color-secondary);
  margin-left: 10px;
  border-radius: 4px;

  &.userRoleLabel--assistant {
    background-color: var(--ion-color-warning);
  }
}

.mediaAttachment__item {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.mediaAttachmentItem__attachmentDetails {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  transform: translate(0, -50%);
}

.mediaAttachment__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mediaAttachment__img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: 200%;
  max-height: 200%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.messageAttachment__downloadControl {
  text-transform: none;

  ion-icon + ion-label {
    margin-left: 8px;
  }
}

.chatMessage__attachment {
  cursor: pointer;
}

.mediaGallery__tabs {
  text-align: center;
  padding: 0 15px 15px;
}

.mediaGallery__tab {
  display: inline-block;
  min-width: 120px;
  margin: 0 8px;
}

.toggleSearchBar__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.userInfo__title {
  // background: linear-gradient(197deg, rgb(137, 218, 255) 0%, #47B2F7 13.5%, #2298E3 33.33%, #236FA2 100%);
  background: linear-gradient(180deg, #43abee 0%, #338cc7 33%, #2879ae 66%, #2470a3 100%);
}

.userInfo__titleContainer {
  position: relative;
  padding: 30px;
  text-align: center;

  .userInfo__backButton {
    position: absolute;
    top: 30px;
    left: 0;
    --color: #fff;
  }
  
  .userInfo__avatarSectionContent {
    display: inline-block;
    position: relative;
  }

  .userInfo__avatarChangeButton {
    right: 0;
    bottom: 0;
  }


  .userInfo__avatar {
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
}

.userInfo__details {
  margin: 30px 20px;

  ion-item {
    --border-color: var(--ion-color-primary) !important;
    --padding-start: 0;
    --padding-end: 0;
    --color: #aeaeae;
    font-weight: 600;

    ion-row {
      align-items: center;
    
      ion-label {
        --color: var(--ion-color-primary) !important;
        min-width: 180px;
        // color: var(--ion-color-primary) !important;
      }
    }
  }
}

.userInfo__controls {
  // padding: 50px 30px 30px;
  --padding-top: 50px;
  --padding-bottom: 30px;
  --padding-start: 30px;
  --padding-end: 30px;

  ion-button + ion-button {
    margin-top: 15px;
  }
}

.popover {
  margin: 8px;
  font-size: 14px;
  text-align: center;
}